@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap");
/* color variable declaration */
/* sizing */
/* font family variable declaration */
/* margin variable declaration */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  color: #dcd9e7;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 2vw;
  padding: 10vw;
}

.button {
  background-color: black;
  color: white;
  font-size: 2vw;
  padding: 2% 2%;
  margin: 2% 2%;
  border: 1px solid blue;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.navContainer {
  width: 100%;
  background-color: black;
  color: white;
}

.navContainer .subNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.navContainer .subNavContainer h3 {
  font-size: 3vw;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  height: 100%;
  margin-top: 3vw;
}

.formContainer {
  background-color: #bfeff0;
  width: 50%;
  text-align: center;
  padding-top: 5vw;
}

form {
  height: 75%;
  -webkit-box-shadow: 10px 10px 5px #aaaaaa;
          box-shadow: 10px 10px 5px #aaaaaa;
}

form input[type] {
  width: 75%;
  padding: 3%;
  margin: 3%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contactContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5vw;
}

.allContactContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

.singleContact {
  background-color: cornflowerblue;
  text-align: center;
  padding: 2vw;
  margin: 1vw;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px #aaaaaa;
          box-shadow: 10px 10px 5px #aaaaaa;
}

.singleContact h3 h5 {
  font-size: 2vw;
  font-weight: bold;
  color: #f1ebeb;
}

.contactDetails {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactDetails h2 {
  font-size: 4vw;
  font-weight: bolder;
  color: #161111;
  margin: 3vw;
}

@media (min-width: 768px) {
  .allContactContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
  }
}

@media (max-width: 480px) {
  .allContactContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2vw;
  }
}
/*# sourceMappingURL=mySass.css.map */